image: golang:1.15

variables:
  REPO_NAME: code.il2.dso.mil/trash-pandas/go-api-gateway

# simlink repo from $GOPATH/src
before_script:
  - mkdir -p $GOPATH/src/$(dirname $REPO_NAME)
  - ln -svf $CI_PROJECT_DIR $GOPATH/src/$REPO_NAME
  - cd $GOPATH/src/$REPO_NAME

stages:
  - test
  - build
  - deploy

format:
  stage: test
  script:
    - go fmt ./...
    - go vet ./...
    #- go test -race $(go list ./... | grep -v /vendor/)

compile:
  stage: build
  script:
    - go build -race -ldflags "-extldflags '-static'" -o $CI_PROJECT_DIR/apigateway
  artifacts:
    paths:
      - apigateway
